<%= form_with(model: screaming_frog, local: true, method: :post) do |form| %>
  <% if screaming_frog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(screaming_frog.errors.count, "error") %> prohibited this screaming_frog from being saved:</h2>

      <ul>
      <% screaming_frog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content, 'Screaming Frog CSV' %>
    <br/>
    <%= form.text_area :content, cols: 150, rows: 40, required: 'required' %>
  </div>

  <br/>

  <div class="actions">
    <%= form.submit 'Transform' %>
  </div>
<% end %>
